{% extends 'pw_wowProj/base_quizz.html' %}
{% load static %}

{% block main %}

    <section id="quizz">
        <!--QUIZZ FORMS-->
        <h1 class="section_title">Contactos</h1>

        <form action="mailto:XXXXXX@gmail.com" method="post" name="Form PW">

            <fieldset>
                <legend>Identification:</legend>
                <label>
                    Insert name here: <span>*</span> <input type="text" name="name"
                                                            placeholder="Yer name here mate..." autocomplete="off"
                                                            maxlength="20" autofocus required><br>
                </label>

                <label>
                    Insert second name here: <span>*</span> <input type="text" name="secondname"
                                                                   placeholder="Yer second name here mate..."
                                                                   autocomplete="off" maxlength="20" required><br>
                </label>

                <label>
                    Insert birth-date here: <span>*</span> <input type="date" name="birthdate"
                                                                   placeholder=""
                                                                   autocomplete="off" maxlength="20" required><br>
                </label>

                <label>
                    Insert your email: <span>*</span><input type="email" name="email"
                                                            placeholder="Insert valid email..."
                                                            autocomplete="off" required><br>
                </label>

                <label>
                    Insert your phone number:
                    <input type="tel" name="telefone" placeholder="Ex: 99999-99-99" size="11" maxlength="11"
                           autocomplete="off" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"> <small>(Optional)</small><br><br>
                </label>

                <center>
                    <br><br>
                    <hr>
                    <br><br>
                    <input type="submit" value="Submit All" title="Submit Answers" alt="Submit">
                    <input type="reset" value="Reset All" title="Reset Fields">
                    <br><br>
                </center>
            </fieldset>
        </form>
    </section>

{% endblock %}