{% extends 'pw_wowProj/base_quizz.html' %}
{% load static %}

{% block main %}

    <section id="quizz">
        <!--QUIZZ FORMS-->
        <h1 class="section_title">Feedback</h1>

       <form method="post" class="was-validated">
           {% csrf_token %}
           <fieldset>

           <div class="mb-3">
               <label for="exampleInputName1" class="form-label">Name</label>
               <input name="name" type="name" class="form-control" id="exampleInputName1" required>
           </div>

           <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Email address</label>
               <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
               <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
           </div>

               <br>
           <div class="mb-3">
               <label for="subject" class="form-label">Feedback</label>
               <br>

               <textarea class="form-control" id="subject" name="subject" placeholder="Write here your feedback" cols="30" rows="10" required></textarea>
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
           </fieldset>
       </form>
    </section>

{% endblock %}