{% extends 'pw_wowProj/base.html' %}
{% block main %}
    <article id="journal">
        <div class="journal container">
            <div class="journal_top">
                <h1>Raids</h1>
                <ul>
                    {% for item in raid %}
                        <li>
                            <a href="{% url 'pw_wowProj:raid' item.id %}">
                                {{ item.nome }}({{ item.difficulty.codigo }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
{% endblock %}