{% extends 'pw_wowProj/base.html' %}
{% load static %}

{% block main %}
    <div class="intro container" id="soon">

        <section class="centrar">
            <!--FLEXBOXX ANIMATIONS-->
            <div class="row">
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
            </div>

            <div class="row">
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="coming">
                    <img src="{% static 'pw_wowProj/images/coming.png' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
            </div>

            <div class="row">
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="coming">
                    <img src=".{% static 'pw_wowProj/images/soon.png' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
            </div>

            <div class="row">
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
                <figure class="grey">
                    <img src="{% static 'pw_wowProj/images/stormwind.jpg' %}">
                </figure>
            </div>
        </section>
    </div>
{% endblock %}