{% extends 'basequizz.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Start?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body-confirm"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="color: darkorange" data-dismiss="modal">No
                    </button>
                    <button type="button" id="start-button" class="btn btn-success">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="h1">Quiz List</div>
    <hr>


{% endblock %}